* { box-sizing: border-box; font-family: 'Courier New', monospace; font-weight: bold; }
body { background: #000; color: #0f0; margin: 0; padding: 5px; height: 100vh; overflow: hidden; }

#setup-screen { height: 100vh; overflow-y: auto; padding: 15px; }
.brand-title { text-align: center; color: #0f0; font-size: 3.5rem; text-shadow: 0 0 15px #0f0; margin: 10px 0; }
.credits { text-align: center; color: #008800; font-size: 0.7rem; margin-bottom: 20px; }

#menu { display: flex; flex-direction: column; gap: 12px; max-width: 600px; margin: 0 auto; padding-bottom: 200px; }
input, select, button { background: #000; border: 1px solid #0f0; color: #0f0; padding: 12px; border-radius: 8px; font-size: 1rem; }

/* MASTER OB STYLE */
.master-zone { border-top: 1px solid #333; margin-top: 15px; padding-top: 15px; }
.m-title { text-align: center; color: #555; font-size: 0.7rem; margin: 10px 0; }
.obj-row-edit { display: flex; gap: 4px; margin-bottom: 5px; }
.obj-row-edit input { padding: 5px; font-size: 0.7rem; border-radius: 4px; }
.obj-name-in { width: 30%; }
.obj-coord-in { width: 35%; }

.btn-danger { border-color: #f00; color: #f00; margin-top: 15px; cursor: pointer; }
.btn-start { background: #0f0 !important; color: #000 !important; font-size: 1.5rem; }

/* GAME UI ORIZZONTALE */
#game-ui { display: flex; flex-direction: column; height: 100vh; gap: 5px; }
@media screen and (orientation: landscape) {
    #game-ui { display: grid; grid-template-columns: 1fr 320px; grid-template-rows: 55px 1fr; gap: 10px; }
    .top-bar { grid-column: 1 / 3; }
    .map-system { grid-column: 1; grid-row: 2; }
    .game-info-container { grid-column: 2; grid-row: 2; display: flex; flex-direction: column; gap: 5px; overflow: hidden; }
}

.top-bar { background: #080808; border: 1px solid #222; border-radius: 10px; display: flex; justify-content: space-between; align-items: center; padding: 0 15px; height: 50px; }
.map-main-container { flex-grow: 1; border: 2px solid #0f0; border-radius: 15px; overflow: hidden; position: relative; }
#map-rotate, #map { width: 100%; height: 100%; }
#player-pointer { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000; color: #fff; font-size: 30px; pointer-events: none; }
.map-controls-external { display: flex; flex-direction: column; gap: 5px; }
.ext-btn { width: 55px; flex: 1; font-size: 1.4rem; }
.info-section { flex: 1; background: #050505; border: 1px solid #1a1a1a; padding: 10px; border-radius: 10px; overflow-y: auto; }
.data-list { list-style: none; padding: 0; margin: 0; }
.data-list li { border-bottom: 1px solid #111; padding: 10px 0; font-size: 0.8rem; }
