* { box-sizing: border-box; font-family: 'Courier New', monospace; font-weight: bold; }
body { background: #000; color: #0f0; margin: 0; padding: 5px; height: 100vh; overflow: hidden; }

#setup-screen { padding: 15px; text-align: center; height: 100vh; overflow-y: auto; }
.brand-title { font-size: 3rem; text-shadow: 0 0 10px #0f0; margin: 10px 0; }
#menu { display: flex; flex-direction: column; gap: 8px; max-width: 450px; margin: 0 auto; }

input, select, button { background: #111; border: 2px solid #0f0; color: #0f0; padding: 10px; border-radius: 5px; width: 100%; }
.team-settings { display: grid; grid-template-columns: 1fr 1fr; gap: 5px; }
.team-settings select { grid-column: span 2; }

.master-zone { border: 1px dashed #444; padding: 10px; margin-top: 10px; border-radius: 8px; }
.m-title { font-size: 0.7rem; color: #888; margin: 10px 0 5px; }
.m-config-grid { display: flex; flex-direction: column; gap: 5px; }
.m-row { display: flex; justify-content: space-between; font-size: 0.7rem; align-items: center; }
.m-row input { width: 70px; padding: 5px; }

.obj-row-edit { display: flex; gap: 3px; margin-bottom: 5px; }
.obj-row-edit input { font-size: 0.7rem; padding: 5px; }
.btn-sub { background: #222 !important; font-size: 0.8rem; margin: 5px 0; }
.btn-danger { border-color: #f00; color: #f00; }
.btn-start { background: #0f0 !important; color: #000 !important; font-size: 1.4rem; margin-top: 10px; }

#game-ui { display: flex; flex-direction: column; height: 100vh; }
.top-bar { height: 50px; display: flex; justify-content: space-between; align-items: center; padding: 0 15px; background: #080808; border-bottom: 1px solid #222; }
.map-container { flex-grow: 1; position: relative; border: 2px solid #0f0; overflow: hidden; }
#map-rotate, #map { width: 100%; height: 100%; }
#player-pointer { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000; color: #fff; font-size: 2rem; pointer-events: none; }

.nav-hud { position: absolute; bottom: 10px; left: 10px; right: 10px; background: rgba(0,0,0,0.9); border: 2px solid yellow; color: yellow; padding: 10px; z-index: 1100; display: flex; justify-content: space-between; align-items: center; border-radius: 10px; }
.info-zone { height: 170px; display: flex; gap: 5px; padding: 5px; }
.sect { flex: 1; background: #050505; padding: 5px; border-radius: 5px; overflow-y: auto; font-size: 0.7rem; border: 1px solid #222; }
.data-list { list-style: none; padding: 0; margin: 0; }
.data-list li { padding: 8px 0; border-bottom: 1px solid #111; cursor: pointer; }
