body {
  background:#0c0c0c;
  color:#eee;
  font-family:Arial;
  margin:0;
  text-align:center;
}

input, select, button {
  padding:8px;
  margin:4px;
}

button {
  background:#222;
  color:white;
  border:1px solid #555;
}

#map {
  height:45vh;
  width:100%;
  margin-top:10px;
}

.hidden { display:none; }

.lists {
  display:flex;
  justify-content:space-around;
}

ul { list-style:none; padding:0; }
li { padding:4px; }
