* { box-sizing: border-box; outline: none; -webkit-tap-highlight-color: transparent; }
body { background: #000; color: #00ff00; font-family: monospace; margin: 0; padding: 5px; overflow: hidden; height: 100vh; display: flex; flex-direction: column; }
#main-header { flex-shrink: 0; padding: 5px 0; border-bottom: 1px solid #333; text-align: center; }
header h1 { font-size: 1.4rem; margin: 0; color: #00ff00; letter-spacing: 1px; }
.credits { font-size: 0.75rem; color: #00cc00; margin-top: 2px; font-weight: bold; }

#setup-screen { flex-grow: 1; overflow-y: auto; padding: 10px; }
#menu { background: #111; padding: 15px; border: 1px solid #333; display: flex; flex-direction: column; gap: 10px; border-radius: 8px; }

.btn-start { background: #00ff00; color: #000; font-weight: bold; padding: 15px; width: 100%; border-radius: 5px; font-size: 1.1rem; border: none; cursor: pointer; margin-top: 5px; }
.btn-start-master { background: #ffcc00; color: #000; font-weight: bold; padding: 15px; width: 100%; border-radius: 5px; font-size: 1rem; border: none; cursor: pointer; margin-top: 10px; }
.btn-danger { color: #ff0000; border: 1px solid #ff0000; background: transparent; padding: 8px; width: 100%; margin-top: 10px; cursor: pointer; border-radius: 4px; font-size: 0.7rem; }

.map-system { display: flex; align-items: stretch; gap: 5px; flex-grow: 1; margin: 5px 0; min-height: 380px; }
.map-main-container { position: relative; flex-grow: 1; border: 2px solid #00ff00; border-radius: 8px; overflow: hidden; }
#map-rotate, #map { width: 100%; height: 100%; }
#player-pointer { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2000; color: #fff; font-size: 24px; pointer-events: none; }
.map-controls-external { display: flex; flex-direction: column; gap: 5px; width: 50px; }
.ext-btn { flex: 1; background: #111; border: 1.5px solid #00ff00; color: #00ff00; border-radius: 5px; display: flex; align-items: center; justify-content: center; flex-direction: column; cursor: pointer; }

.slot-list { max-height: 220px; overflow-y: auto; border: 1px solid #333; padding: 5px; background: #000; margin: 5px 0; }
.obj-slot { display: flex; gap: 3px; margin-bottom: 5px; align-items: center; border-bottom: 1px solid #222; padding-bottom: 5px; }
.obj-slot input { font-size: 0.7rem; background: #111; border: 1px solid #444; color: #0f0; padding: 4px; }
.m-title { color: yellow; font-size: 0.75rem; font-weight: bold; margin-top: 10px; text-align: center; }

.game-info-container { display: grid; grid-template-columns: 1fr 1fr; gap: 5px; height: 120px; flex-shrink: 0; }
.info-section { background: #111; border: 1px solid #333; padding: 5px; overflow-y: auto; }
.data-list { list-style: none; padding: 0; margin: 0; font-size: 0.75rem; }
.data-list li { padding: 4px 0; border-bottom: 1px solid #222; display: flex; justify-content: space-between; }
