* { box-sizing: border-box; font-family: monospace; font-weight: bold; }
body { background: #000; color: #0f0; margin: 0; overflow: hidden; height: 100vh; }
#setup-screen { padding: 20px; text-align: center; }
.brand-title { font-size: 3rem; margin: 10px 0; }
#menu { display: flex; flex-direction: column; gap: 10px; max-width: 400px; margin: 0 auto; }
input, select, button { background: #000; border: 2px solid #0f0; color: #0f0; padding: 10px; border-radius: 5px; }
.btn-start { background: #0f0 !important; color: #000 !important; font-size: 1.2rem; }
.obj-row-edit { display: flex; gap: 5px; margin-bottom: 5px; }
.obj-row-edit input { width: 33%; font-size: 0.8rem; }

#game-ui { display: flex; flex-direction: column; height: 100vh; }
.top-bar { height: 50px; display: flex; justify-content: space-between; align-items: center; padding: 0 20px; background: #111; }
.map-container { flex-grow: 1; position: relative; border: 2px solid #0f0; overflow: hidden; }
#map-rotate, #map { width: 100%; height: 100%; }
#player-pointer { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000; color: white; font-size: 2rem; pointer-events: none; }
.info-zone { height: 150px; background: #050505; overflow-y: auto; padding: 10px; }
.data-list { list-style: none; padding: 0; }
.data-list li { border-bottom: 1px solid #222; padding: 10px; }
